<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!attivaServersButton" (click)="onClickButton()">Add server</button>

<!-- <p *ngIf="serverCreated else noServer">{{serversCreationMessage}}</p>
<ng-template #noServer>
    <p>Il server non è stato creato</p>
</ng-template> -->

<p *ngIf="serverCreated">{{serversCreationMessage}}</p>
<p *ngIf="!serverCreated">Il server non è stato creato</p>

<p>Sono su git</p>
<p>Sono Giuseppe</p>
<p>Arciuolo shoes</p>
<p>Giancarlo milionario</p>
<p>Giancarlo sei bello</p>
<p>Ciao sono Anto</p>